@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-color {
  background-color: rgba(15, 9, 12, 0.80);
  filter: drop-shadow(56px 0px 56px #290F00);
}

.navbar-blur1 {
  filter: drop-shadow(64px 0px 64px #662500);
}

.border-gradient {
  background: radial-gradient(circle at center, #B86E9F, #662525);
}

.border-gradient2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: radial-gradient(circle at center, #CC8B8B, #A33B3B);
}