@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-color {
  background-color: rgba(15, 9, 12, 0.8);
  filter: drop-shadow(56px 0px 56px #290f00);
}

.navbar-blur1 {
  filter: drop-shadow(64px 0px 64px #662500);
}

.border-gradient {
  background: radial-gradient(circle at center, #b86e9f, #662525);
}

.border-gradient2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: radial-gradient(circle at center, #cc8b8b, #a33b3b);
}
